/* gradient background */
body {
    min-height: 100vh;
    background-image: linear-gradient(to right, rgba(205, 195, 244, 1) , rgba(117, 170, 255, 1));
    display: flex;
    flex-direction: column;
}

main {
    text-align: center;
}

.current {
    color: rgba(117, 170, 255, 1);
}

.prof-pic {
    border: 3px solid  rgb(43, 43, 79);
    border-radius: 80px;
    margin: 60px;
}


h1 {
    font-family: 'Patua One';
    color: rgb(43, 43, 79);
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    text-shadow: 2px 2px rgb(225, 240, 245);
}

h2 {
    font-size: x-large;
    text-align: center;
    font-family: 'Patua One';
    color: rgb(152, 42, 113);
    font-weight: bold;
    text-shadow: 2px 2px rgb(225, 240, 245);
}


nav {
    background-color:  rgb(43, 43, 79);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a {
    font-family: 'Patua One';
    color: #cdc3f4;
    font-weight: bolder;
    font-size: 22px;
}

#text {
    color: rgb(43, 43, 79);
    text-align: center;
    border-radius: 5px;
    border: 2px outset rgb(152, 42, 113);
    background-color: #e7defa;
    margin: 0px 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}

/* Add headphones emoji before list items in nav */
#nav_link::before {
    content: '\1F3A7'
}

.headphones {
    font-size: x-large;
}

/* This code commented out was styling I was trying to implement before I changed the structure of my page, but I left it to show my work process */
/* .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex_item {
    margin: 5px;
    padding: 5px;
    border: 5px solid rgb(36, 35, 111);
    border-radius: 20px;
}

.flex_pods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pod_item {
    margin: 5px;
    padding: 5px;
    border: 5px solid rgb(36, 35, 111);
    border-radius: 20px;
} */

.albums_title::after {
    content: '\1F4BF'
}

.podcasts_title::after {
    content: '\1F399'
}



.flip-box {
    background-color: transparent;
    width: 400px;
    height: 400px;
    /* border: 5px solid rgb(36, 35, 111); */
    perspective: 1000px;
  }

  /* container to position front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* horizontal flip */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }

  /* front and back position */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }


  .flip-box-front {
    background-color: #bbb;
    color: black;
  }


  .flip-box-back {
    background-color:rgba(117, 170, 255, 1);
    color: white;
    transform: rotateY(180deg);
  }

  .flex-albums, .pod-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
  }

  .album-name, .pod-name {
    color:rgb(43, 43, 79);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px rgb(225, 240, 245);
  }

  .artist-name, .host-name, .album-year, .album-genre, .fav-song, .album-lang, .pod-genre, .synopsis, .rating {
    color:  rgb(43, 43, 79);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    text-align: left;
  }



  footer{
    background-color: rgb(43, 43, 79);
    color: #cdc3f4;
    text-align: center;
    padding-top: 30px;
    margin-top: auto;
  }

  .footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

@media screen and (min-width: 800px) {
    a {
        font-family: 'Patua One';
        color: #cdc3f4;
        font-weight: bolder;
        font-size: 30px;
    }

    .prof-pic {
        position: relative;
        top: 0;
        left: 0;
        width:max-content
    }

    #welcome {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    #about {
        grid-column: 2 / span 2;
    }

    #photo {
        grid-column: 1 / span 1;
    }

    footer {
        background-color: rgb(43, 43, 79);
        color: #cdc3f4;
        text-align: center;
        padding-top: 30px;
        margin-top: auto;
      }
}